body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    color: rgb(111, 33, 33);
    transition: background-image 0.5s ease;
    margin: 0;
    background-image: url('images/default-background.jpg'); /* Default background image */
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin: 100px auto; /* Center the container horizontally */
    max-width: 550px; /* Adjust maximum width as needed */
}

.weather-info {
    margin-top: 20px;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    width: 200px;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #2193b0;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #6dd5ed;
}

.hidden {
    display: none;
}

img {
    margin-top: 20px;
}

.recent-searches {
    width: 100%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    text-align: center;
    margin-top: 250px; /* Adjust margin top according to user preference */
}

#recent-searches-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.search-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 150px;
    height: 150px;
    margin: 10px;
}

.search-item h3, .search-item p {
    color: white;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.autocomplete-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    width: 200px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

.autocomplete-list li {
    padding: 10px;
    cursor: pointer;
}

.autocomplete-list li:hover {
    background-color: #eee;
}
